@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --primary-color: rgb(99,88,236);
  --primary-color-light: rgb(203,200,245);
  --gray1: #333;
  --gray2: rgb(248,249,250);
  --gray3: rgb(200,200,200);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--gray1);
}

.app-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 1rem;
}

.app-header h1 {
  font-weight: 700;
  font-size: 2em;
}

.app-header h3 {
  font-weight: 400;
  font-size: 0.8em;
}

.content-table {
  border-collapse: collapse;
}

.content-table td,
.content-table th {
  border: 1px solid var(--gray3);
  text-align: left;
  padding: 0.5rem;
}

.button-with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem 0.5rem;
  font-size: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.action-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
}

.primary-button {
  background-color: var(--primary-color);
  color: #fff;
}

.primary-button * {
  color: #fff;
}

.content-container {
  max-width: 648px;
}

.content-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;
  background-color: var(--gray2);
  border: 1px solid var(--gray3);
  border-bottom: none;
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 0.9rem;
}

.breadcrumb-container .breadcrumb-element {
  text-decoration: none;
  color: var(--primary-color)
}

.breadcrumb-container .breadcrumb-element::after {
  content:">";
  margin-left: 0.2rem;
  color: var(--primary-color);
}

.breadcrumb-container .breadcrumb-element:last-child {
  color: var(--primary-color-light);
  pointer-events: none;
}

.breadcrumb-container .breadcrumb-element:last-child::after {
  content:""
}